name: CI

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    name: lint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run Lint
        run: pnpm lint

  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker tag
        id: set_tag
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
              echo "tag=ghcr.io/open-apparel/open-apparel:latest" >> $GITHUB_ENV
          else
              echo "tag=ghcr.io/open-apparel/open-apparel:${GITHUB_REF##*/}" >> $GITHUB_ENV
          fi
        shell: bash

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.tag }}
